* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    margin: 0;
    background: #05060f linear-gradient(0deg,
            rgba(216, 236, 248, 0.06),
            rgba(152, 192, 239, 0.06));

    --_factor: min(600px, 80vh);
    --_size: min(var(--_factor), 80vw);
}

.accent-lines {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 42em;
    z-index: -2;
    --accent-lines-clr: rgba(186, 215, 247, .18);
}

.accent-lines>div {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 100%;
    width: 100%;
}

.accent-lines>div:nth-child(1)>div {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent, var(--accent-lines-clr), transparent);
    opacity: 0;
    scale: 0;
    animation: accentload 2s ease-out 2.4s forwards;
}

.accent-lines>div:nth-child(1)>div:nth-child(1) {
    top: 6em;
}

.accent-lines>div:nth-child(1)>div:nth-child(2) {
    top: 11em;
}

.accent-lines>div:nth-child(1)>div:nth-child(3) {
    top: 16em;
}

.accent-lines>div:nth-child(1)>div:nth-child(4) {
    top: 24em;
}

.accent-lines>div:nth-child(1)>div:nth-child(5) {
    top: 29em;
}

.accent-lines>div:nth-child(2)>div {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 1px;
    height: 100%;
    background: var(--accent-lines-clr);
}

.accent-lines>div:nth-child(2)>div {
    opacity: 0;
    scale: 0;
    animation: accentload 2s ease-out 2s forwards;
}

.accent-lines>div:nth-child(2)>div:nth-child(1) {
    left: 24em;
}

.accent-lines>div:nth-child(2)>div:nth-child(2) {
    left: 34em;
}

.accent-lines>div:nth-child(2)>div:nth-child(3) {
    right: 24em;
}

.accent-lines>div:nth-child(2)>div:nth-child(4) {
    right: 34em;
}

.accent-lines>div:nth-child(1)>div::before,
.accent-lines>div:nth-child(1)>div::after {
    content: '';
    display: none;
    position: absolute;
    width: 0.2em;
    height: 0.2em;
    border-radius: 1em;
    background: #9dc3f7;
    left: 0;
    right: 0;
    margin: auto;
    translate: 0 -1px;

    opacity: 0;
    scale: 0;
    animation: accentload 2s ease-out 4.4s forwards;
}

.accent-lines>div:nth-child(1)>div:nth-child(3)::before {
    display: block;
    left: 24em;
}

.accent-lines>div:nth-child(1)>div:nth-child(3)::after {
    display: block;
    right: 24em;
}

.accent-lines>div:nth-child(1)>div:nth-child(4)::before {
    display: block;
    left: 24em;
}

.accent-lines>div:nth-child(1)>div:nth-child(4)::after {
    display: block;
    right: 24em;
}

.accent-lines>div:nth-child(1)>div:nth-child(5)::before {
    display: block;
    left: 24em;
}

.accent-lines>div:nth-child(1)>div:nth-child(5)::after {
    display: block;
    right: 24em;
}

.accent-lines>div:nth-child(1)>div:nth-child(2)::before,
.accent-lines>div:nth-child(1)>div:nth-child(2)::after {
    display: block;
    width: 5em;
    height: 1px;
    border-radius: 0;
    opacity: 0.12;
}

.accent-lines>div:nth-child(1)>div:nth-child(2)::before {
    right: 24em;
    rotate: 45deg;
    translate: -2.5em 2.5em;
}

.accent-lines>div:nth-child(1)>div:nth-child(2)::after {
    right: 24em;
    rotate: -45deg;
    translate: -2.5em 2.5em;
}

.accent-lines>div:nth-child(1)>div:nth-child(1)::before,
.accent-lines>div:nth-child(1)>div:nth-child(1)::after {
    display: block;
    width: 5em;
    height: 1px;
    border-radius: 0;
    opacity: 0.12;
}

.accent-lines>div:nth-child(1)>div:nth-child(1)::before {
    left: 24em;
    rotate: 45deg;
    translate: 2.5em 7.5em;
}

.accent-lines>div:nth-child(1)>div:nth-child(1)::after {
    left: 24em;
    rotate: -45deg;
    translate: 2.5em 7.5em;
}

.accent-lines>div:nth-child(1)>div:nth-child(2)::before,
.accent-lines>div:nth-child(1)>div:nth-child(2)::after {
    opacity: 0;
    scale: 0;
    animation: accentload2 2s ease-out 2.4s forwards;
}

.accent-lines>div:nth-child(1)>div:nth-child(1)::before,
.accent-lines>div:nth-child(1)>div:nth-child(1)::after {
    opacity: 0;
    scale: 0;
    animation: accentload3 2s ease-out 2.4s forwards;
}

@keyframes accentload {
    0% {
        opacity: 0;
        scale: 0;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes accentload2 {
    0% {
        opacity: 0;
        scale: 0;
        transform: rotate(360deg);
    }

    50% {
        scale: 0;
    }

    100% {
        opacity: 0.12;
        scale: 1;
        transform: rotate(0deg);
    }
}

@keyframes accentload3 {
    0% {
        opacity: 0; scale: 0; transform: rotate(-360deg);
    }
    50% { scale: 0; }
    100% {
        opacity: 0.12; scale: 1; transform: rotate(0deg);
    }
}