* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    margin: 0;
    background: #05060f linear-gradient(0deg,
            rgba(216, 236, 248, 0.06),
            rgba(152, 192, 239, 0.06));

    --_factor: min(600px, 80vh);
    --_size: min(var(--_factor), 80vw);
}

canvas#particleCanvas {
    position: absolute;
    pointer-events: none;
    animation: load 0.4s ease-in-out forwards;
    z-index: 1;
    width: 100%;
}