@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #e0e0e0;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--background-color);
}
